<?xml version="1.0"?>
<config>
    <modules>
        <Sitewards_Tax>
            <version>1.0.0</version>
        </Sitewards_Tax>
    </modules>
    <global>
        <models>
            <sitewards_tax>
                <class>Sitewards_Tax_Model</class>
            </sitewards_tax>
        </models>
        <blocks>
            <sitewards_tax>
                <class>Sitewards_Tax_Model_Block</class>
            </sitewards_tax>
            <adminhtml>
                <rewrite>
                    <tax_class_edit_form>Sitewards_Tax_Block_Adminhtml_Tax_Class_Edit_Form</tax_class_edit_form>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <sitewards_tax>
                <class>Sitewards_Tax_Helper</class>
            </sitewards_tax>
        </helpers>
        <resources>
            <sitewards_tax_setup>
                <setup>
                    <module>Sitewards_Tax</module>
                    <class>Sitewards_Tax_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sitewards_tax_setup>
        </resources>
    </global>
</config>